<!-- About Section -->
<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Quem Somos</h2>
        <p>Somos jovens brasileiros, que moram no Rio de Janeiro, que têm sonhos, aspirações, desafios, problemas como qualquer jovem da nossa idade. A diferença está que escolhemos seguir pela estrada da vida acompanhados de um grande amigo: Jesus Cristo. Esta nossa decisão, baseada na nossa Fé, nos une e nos faz servir e viver experiências únicas em vários campos da nossa vida, especialmente na nossa Paróquia Nossa Senhora da Paz.</p>
        <p>Juntos, somos a Pastoral ‘Jovens da Paz’, uma rede de jovens católicos que a partir de uma paróquia em Ipanema, busca com muitas ideias, energia e vontade, construir uma sociedade mais cheia de amor, respeito, conhecimento, paz e conectada com Deus.</p>
        <p>Nascemos oficialmente em Março de 2016, como a consequência de um legado de mais de 30 anos de diversas obras envolvendo jovens, na Nossa Senhora da Paz. Somos mais de 1.000 pessoas, servindo, aprendendo e vivendo, juntos, a Igreja de Cristo.</p>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <!-- Display image -->
        <img src="<%= image_path('background/about.png')%>" class="img-responsive">
        <!-- Optional video embed code -->
        <!-- <div class="embed-responsive embed-responsive-16by9"> -->
          <!-- <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <!-- </div> -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
