<!-- About Section -->
<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Quem Somos</h2>
        <p>A Pastoral Jovas da Paz foi fundada em 2016, mas nasceu trazendo consigo uma história de mais de 30 anos
        de serviço de jovens, na Paróquia Nossa Senhora da Paz</p>
        <p>Em 1985, quando o Brasil vivia uma época "pós-diratura", os jovens carregavam um sentimento de justiça
        e luta muito forte, ao mesmo tempo que protestavam nas ruas, também procuravam quebrar paradigmas em suas
        vidas, vivendo um ecossistema carregado de sexo, drogas, rock and roll e AIDS. Neste contexto, nasceu o
        EJC (Encontro de Jovens com Cristo). Um evento de imersão espiritual, ocorrido em um final de semana, que
        nasceu com o propósito de aproximar jovens desta época da Igreja e do Reino de Deus.</p>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <!-- Display image -->
        <!-- <img src="assets/images/hallooou_template-iphone_sm.png" class="img-responsive"> -->
        <!-- Optional video embed code -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
