<!-- Intro Header -->
<!-- Full Page Image Background Carousel Header -->
<header id="intro-carousel" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <div id="parallax-slide" class="fill"></div>
      <div class="carousel-caption">
        <h1 class="animated slideInDown">"Todas as nossas ações devem visar o amor de Deus."</h1>
        <p class="intro-text animated slideInUp">Guido Schäffer</p>
      </div>
      <div class="overlay-detail"></div>
    </div><!-- /.item -->
  </div>
  <div class="mouse"></div>
</header>
