<!-- Contact section -->
<section id="contact" class="contact content-section no-bottom-pad">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Contact</h2>
        <h3 class="caption gray">Feel free to get in touch with us if you have a new project or simply something awesome</h3>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
    <div class="row form-container">
      <div class="col-md-8 contact-form">
          <h3>Drop us a line</h3>
          <form class="ajax-form" id="contactForm" method="post" action="assets/php/contact.php">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name..." value="" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email..." value="" required>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your phone..." value="" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="4" name="message" placeholder="Your message..." required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" name="submit" class="btn btn-default"><i class="fa fa-paper-plane fa-fw"></i> Send</button>
              </div>
          </form>
      </div><!-- /.contact-form -->
      <div class="col-md-4 contact-address">
          <h3>Our address</h3>
          <p>76 Ninth Ave,
            <br />New York, NY 10011,
            <br /> United States</p>
          <ul>
            <li><span>Email:</span>hello@hallooou.com</li>
            <li><span>Phone:</span>+88 (0) 101 0000 000</li>
            <li><span>Fax:</span>+88 (0) 202 0000 001</li>
          </ul>
      </div><!-- /.contact-address -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container-fluid buffer-forty-top">
    <div class="row">
      <section id="cd-google-map no-bottom-pad">
        <div id="google-container"></div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
      </section>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
