<!-- Counter Section -->
<section id="counter" class="counter-section content-section parallax">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="white">O que alcançamos</h2>
        <h3 class="caption">Breve explicação</h3>
      </div><!-- /.col-md-12 -->
      <div class="col-sm-4 counter-wrap">
        <strong><span class="timer">3000</span>+</strong>
        <span class="count-description">Horas em oração</span>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4 counter-wrap">
        <strong><span class="timer">100000</span>+</strong>
        <span class="count-description">Jovens</span>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4 counter-wrap">
        <strong><span class="timer">2500</span>+</strong>
        <span class="count-description">Ações Sociais</span>
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->
