<!-- Counter Section -->
<section id="counter" class="counter-section content-section parallax">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="white">Somai e Multiplicai</h2>
        <h3 class="caption">Números que mostram a força do legado da nossa Pastoral</h3>
      </div><!-- /.col-md-12 -->
      <div class="col-sm-3 counter-wrap">
        <strong><span class="timer">1650</span>+</strong>
        <span class="count-description">meses de serviço e aprendizado acumulados, num clima de alegria e fé</span>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <strong><span class="timer">7000</span>+</strong>
        <span class="count-description">jovens receberam o amor de Cristo através do EJC</span>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <strong><span class="timer">120</span>+</strong>
        <span class="count-description">irmãos que vivem nas ruas, alimentados/semana</span>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <strong><span class="timer">40</span>+</strong>
        <span class="count-description">instituições (entre orfanatos, asilos e creches) já foram ajudadas</span>
      </div><!-- /.col-sm-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->
