<!-- Footer -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 segment">
        <a href="#" title="Hallooou - HTML5 Template">
          <h2>
            Gostou? Então fale conosco!
          </h2>
        </a>
        <p class="white">Adoramos conhecer pessoas novas, para conversar, ouvir e ajudar.<br/>Assim como também gostamos de conhecer organizações parceiras<br/>que possam apoiar a nossa causa enquanto pastoral.</p>
        <p class="white"><b>Endereço</b>: Rua Visconde de Pirajá, 339, Ipanema.<br/>
        Rio de Janeiro, RJ</p>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row text-center">
      <div class="col-md-12 social segment">
        <h4>Conecte-se</h4>
        <a href="#">
          <img src="<%= image_path('footer/instagram-icon-min.png')%>" style="display: inline-table;" class="img-responsive">
          <p>Instagram: @jovensdapaz</p>
        </a>
        <a href="#">
          <img src="<%= image_path('footer/snapchat-icon-min.png')%>" style="display: inline-table;" class="img-responsive">
          <p>Snapchat: @jovensdapaz</p>
        </a>
        <a href="#">
          <img src="<%= image_path('footer/spotify-icon-min.png')%>" style="display: inline-table;" class="img-responsive">
          <p>Spotify: jovensdapaz</p>
        </a>
        <a href="#">
          <img src="<%= image_path('footer/facebook-icon-min.png')%>" style="display: inline-table;" class="img-responsive">
          <p>Facebook: /jovensdapaz</p>
        </a>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="copynote">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2015. Paróquia Nossa Senhora da Paz.
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.copynote -->
  <div class="nav pull-right scroll-top">
    <a href="#home" title="Scroll to top"><i class="fa fa-angle-up"></i></a>
  </div>
</footer><!-- /.footer -->
