<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand page-scroll" href="#page-top">
        <!-- replace with your brand logo/text -->
        <span class="brand-logo">
          <!-- <%#= image_tag "logo.svg" %> -->
          <img src="<%= image_path('menu/logo.png')%>" alt="Jovens da Paz" title="Jovens da Paz" class="img-responsive">
        </span>
      </a>
    </div>
    <div class="main-nav pull-right">
      <div class="button_container toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </div>
    <div class="overlay" id="overlay">
      <nav class="overlay-menu">
        <ul>
          <li><a href="#about">Quem Somos</a></li>
          <li><a href="#missions">Missões - Inscrição EJC</a></li>
          <li><a href="#counter">Somai e Multiplicai</a></li>
          <li><a href="#protector">Nosso Patrono</a></li>
          <li><a href="#parish">Nossa Paróquia</a></li>
          <li><a href="#sponsors">Nossos Parceiros</a></li>
          <!-- <li><a href="#testimonials">Depoimentos</a></li> -->
          <li><a href="#footer">Fale Conosco</a></li>
        </ul>
      </nav>
    </div>
  </div><!-- /.container -->
</nav>
