<!-- About Section -->
<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Paróquia Nossa Senhora da Paz</h2>
        <p>A Paróquia Nossa Senhora da Paz, fica localizada na Rua Visconde de Pirajá, esquina com a rua Joana Angélica, em Ipanema, dando nome à Praça que fica bem à sua frente.</p>
        <p>Fundada há quase 100 anos e reconhecida pela comunidade carioca pelas suas obras, tem tradição em seu movimento de jovens, que vêm de todo o Rio participar das missas, eventos e servir em suas pastorais.</p>
        <p>Na Igreja, os 'Jovens da Paz' cuidam da Missa de Domingo, às 19h30min, celebrada pelo Pe. Jorjão (se você nunca foi, estamos lhe esperando de braços abertos!). Além da pastoral jovem, nossa Paróquia tem mais de 50 pastorais! Confira a lista clicando aqui.</p>
        <p>Caso queira saber mais sobre 'a Paz', clique aqui</p>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <!-- Display image -->
        <img src="<%= image_path('background/paroquia.png')%>" class="img-responsive">
        <!-- Optional video embed code -->
        <!-- <div class="embed-responsive embed-responsive-16by9"> -->
          <!-- <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <!-- </div> -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
