<!-- About Section -->
<section id="protector" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Nosso Patrono Guido Schäffer</h2>
        <h5>O surfista, médico e seminarista que é nossa inspiração</h5>
        <p>“Jesus is my wave!”. Essa é a vibe e inspiração que temos a partir do Guido, que participou das missões jovens da nossa Paróquia ainda em vida e foi um exemplo enorme de amor à Eucaristia e de vida em profunda oração.</p>
        <p>Médico, seminarista, surfista e um ser humano que se dedicou aos pobres doentes, à conversão de outros jovens afastados do Pai, morto em 2009 e que apenas 6 anos depois foi proclamado pelo Papa Francisco como Servo de Deus, o primeiro passo para o seu reconhecimento como o 1º Santo Jovem Católico Brasileiro.</p>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <!-- Display image -->
        <img src="<%= image_path('background/guido.png')%>" class="img-responsive">
        <!-- Optional video embed code -->
        <!-- <div class="embed-responsive embed-responsive-16by9"> -->
          <!-- <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <!-- </div> -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
