<!-- Services Section -->
<section id="services" class="services content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nossas ações</h2>
        <h3 class="caption gray">Conheça as frentes da Pastoral Nossa Senhora da Paz</h3>
      </div><!-- /.col-md-12 -->
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/pequena-semente-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>Pequena Semente</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/cantagalo-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>Jovens no Cantagalo</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/animando-coracoes-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>Animando Corações</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/comida-no-prato-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>Comida no Prato</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/terco-homens-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>Terço dos Homens</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <img src="<%= image_path('provided-services/sao-tomas-min.png')%>" style="display: inline-table;" class="img-responsive">
              <h4>São Tomás de Aquino</h4>
              <p>Breve Descrição</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
