<!-- Services Section -->
<section id="services" class="services content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>What we do</h2>
        <h3 class="caption gray">Eleifend mi iaculis parturient etiam volutpat pulvinar eleifend</h3>
      </div><!-- /.col-md-12 -->
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-cogs fa-3x"></i>
              <h4>Development</h4>
              <p>We build Wordpress and custom plugins and back-end solutions.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-paint-brush fa-3x"></i>
              <h4>UI/UX</h4>
              <p>We love creating beautiful and functional designs for our clients</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-bullhorn fa-3x"></i>
              <h4>Social Marketing</h4>
              <p>Discover social marketing and take your business to new heights</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-database fa-3x"></i>
              <h4>System Design</h4>
              <p>Every website needs the right environment if it plans to be successful</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-align-left fa-3x"></i>
              <h4>Copywriting</h4>
              <p>What you say and how you say it is as important as everything else</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-camera fa-3x"></i>
              <h4>Photography</h4>
              <p>Specializing in product and photo journalistic style photography</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
