<!-- Our clients -->
<section id="sponsors" class="our-clients content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nossos parceiros</h2>
        <h3 class="caption white">Eles chegaram junto apoiando e deixando ainda mais forte a nossa causa e ajudam a levar mais fé e alegria para os jovens.</h3>
      </div><!-- /.col-md-12-->
    </div><!-- /.row -->
    <div class="row client-slider">
      <div class="item col-xs-4 col-md-2 i">
        <a href="http://www.zonasulatende.com.br" title="Supermercado Zona Sul" target="_blank">
          <img src="<%= image_path('sponsors/zona-sul-icon.png') %>" class="img-responsive">
        </a>
      </div><!-- /.col-xs-4 -->
      <div class="item col-xs-4 col-md-2 i">
        <a href="http://www.sorvetealex.com.br" title="Sorvete Alex" target="_blank">
          <img src="<%= image_path('sponsors/sorvete-alex-icon.png') %>" class="img-responsive">
        </a>
      </div><!-- /.col-xs-4 -->
      <div class="item col-xs-4 col-md-2 i">
        <a href="http://radioibiza.com.br" title="Rádio Ibiza" target="_blank">
          <img src="<%= image_path('sponsors/radio-ibiza-icon.png') %>" class="img-responsive">
        </a>
      </div><!-- /.col-xs-4 -->
      <div class="item col-xs-4 col-md-2 i">
        <a href="http://csprio.com.br" title="Colégio São Paulo - RJ" target="_blank">
          <img src="<%= image_path('sponsors/csp-icon.png') %>" class="img-responsive">
        </a>
      </div><!-- /.col-xs-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-clients -->
