<!-- Testimonials Section -->
<section id="testimonials" class="testimonials content-section" style="background-color: #28b24b;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 style="color: #fff;">O que dizem nossos membros</h2>
        <h3 class="caption gray" style="color: #fff;">Veja o depoimento de alguns jovens que fazem parte da pastoral Jovens da Paz.</h3>
      </div><!-- /.col-md-12 -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="client-testimonials owl-carousel owl-theme">
              <div class="item">
                <p class="speech">Eu só pude ver a beleza da Igreja, de fato, depois que fiz o EJC. A partir dele, criei vínculo com outros jovens e encontrei uma nova forma de me relacionar com Deus e com as pessoas.</p>
                <div class="client-info">
                  <img src="<%= image_path('testimonial/lucas-icon.png') %>" />
                  <h4 style="color: #fff;">Lucas Kobbaz, 22 anos</h4>
                  <span style="color: #fff;">Estudante de Medicina</span>
                </div>
              </div><!-- /.item -->
              <div class="item">
                <p class="speech">Fazer parte do grupo de jovens da Nossa Senhora da Paz mudou completamente a minha vida. Eu era um cara sem fé nenhuma e a partir da minha decisão de 'entrar', muita coisa na minha vida mudou pra muito melhor. Tanto na parte pessoal, quanto profissional.</p>
                <div class="client-info">
                  <img src="<%= image_path('testimonial/duque-icon.png') %>" />
                  <h4 style="color: #fff;">Rodrigo Duque, 26 anos</h4>
                  <span style="color: #fff;">Advogado</span>
                </div>
              </div><!-- /.item -->
              <div class="item">
                <p class="speech">Difícil falar sem se emocionar. Eu acho que essa obra é uma grande prova dos milagres, carinho e amor de Deus. Porque, é de fato, uma experiência única que muda vidas inteiras.</p>
                <div class="client-info">
                  <img src="<%= image_path('testimonial/annie-icon.png') %>" />
                  <h4 style="color: #fff;">Annie Lattari, 32 anos</h4>
                  <span style="color: #fff;">Jornalista</span>
                </div>
              </div><!-- /.item -->
            </div><!-- /.client-testimonials -->
          </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /#testimonials -->
